:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  color: black;
  background-color: #ebebeb;

  --primary-color: #ff644f;
  --secondary-color: #101c4a;
  --backgroundcolor: #ebebeb;
  --border-color: #b5b5b5;
  --price-color: #5ed13d;
}

header,
main {
  margin: 0 auto;
  width: 85vw;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary-color);
}

.section_nav {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_searchfields {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#searchfield,
#sortfield {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
}

#searchfield {
  width: 30vw;
}

#sortfield {
  width: 10vw;
}

.div_filter_categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.filter_btn {
  border: 1px solid white;
  border-radius: 0.3rem;
  color: white;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.output_categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.section_products_overview {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  gap: 2rem;
  flex: 1;
  padding: 1rem 0;
}

.product_box {
  width: 22rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  background-color: white;
}

.div_product_img {
  max-width: 15rem;
  max-height: 15rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.product_box img {
  max-width: 15rem;
  max-height: 15rem;
}
